.metadata/WebContent/WEB-INF/faces-config.pageflow
.settings/.jsdtscope
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
build/classes/META-INF/persistence.xml
build/classes/br/com/devschool/animal/controle/AnimalCtrl.class
build/classes/br/com/devschool/animal/servico/AnimalDAO.class
build/classes/br/com/devschool/animal/servico/AnimalServico.class
build/classes/br/com/devschool/atendimento/controle/AtendimentoCtrl.class
build/classes/br/com/devschool/atendimento/servico/AtendimentoDAO.class
build/classes/br/com/devschool/atendimento/servico/AtendimentoServico.class
build/classes/br/com/devschool/cliente/controle/ClienteCtrl.class
build/classes/br/com/devschool/cliente/servico/ClienteDAO.class
build/classes/br/com/devschool/cliente/servico/ClienteServico.class
build/classes/br/com/devschool/entidade/Animal.class
build/classes/br/com/devschool/entidade/Atendimento.class
build/classes/br/com/devschool/entidade/Cliente.class
build/classes/br/com/devschool/util/ClienteConverter.class
build/classes/br/com/devschool/util/Controlador.class
build/classes/br/com/devschool/util/Servico.class
build/classes/br/com/devschool/util/jpa/JPAUtil.class
